{% extends 'wrapper.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Cathegories</li>
{% endblock %}

{% block content %}
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Cathegory</th>
        <th>Topics</th>
        <th>Posts</th>
        <th>Last Post</th>
      </tr>
    </thead>
    <tbody>
      {% for el in object_list %}
        <tr>
          <td>
            <a href="/{{el.pk}}">{{ el.name }}</a>
            <small class="text-muted d-block">{{ el.description }}</small>
          </td>
          <td class="align-middle">
            {{ el.topics.count }}
          </td>
          <td class="align-middle">
            {{ el.count_posts }}
          </td>
          <td class="align-middle">
            {% with post=el.last_post %}
            {% if post %}
            <small class="text-muted d-block">
              <a href="{% url 'topic_posts' el.pk post.topic.pk %}">
                By {{ post.creater }} at {{ post.created_at}}
              </a>
            </small>
            {% else %}
            <small class="text-muted">
              No posts.
            </small>
            {% endif %}
            {% endwith %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
